<main>
    <h3>Detalles del Producto</h3>

    <div class="product-container">
        <div class="product-image">
            <img src="{{imagen }}" class="imgModal" alt="Imagen del producto">
        </div>
        <div class="product-details">
            <ul>
                <li><strong>Nombre:</strong> {{nombre }}</li>
                <li><strong>Uva:</strong> {{uva }}</li>
                <li><strong>Bodega:</strong> {{bodega }}</li>
                <li><strong>Precio:</strong> {{ precio }}</li>
                <li><strong>Categoría:</strong> {{categoria }}</li>
                <li><strong>Stock:</strong> {{ stock }}</li>
                <li><strong>Estado:</strong> {{ status }}</li>
            </ul>

            <form action="/api/cart/product" method="post" class="cart-form">
                <input type="hidden" name="pid" id="pid" value="{{id}}">
                <div class="quantity-subtotal">
                    <label>Cantidad:</label>
                    <input type="number" name="quantity" id="quantity" value="0" min="0">
                    <label>Subtotal:</label>
                    <input type="number" id="subtotal" value="0">
                </div>
                <div class="quantity-buttons">
                    <button type="button" onclick="incrementar({{this.precio}},{{this.stock}})">+</button>
                    <button type="button" onclick="decrementar({{this.precio}},{{this.stock}})">-</button>
                </div>
                <button type="submit">Agregar al carrito</button>
            </form>
        </div>
    </div>
</main>

<script>
      fetch('/api/cart/create', {
            method: 'GET'
        }) 
</script>