<main>
    <section>
        <h2>Nuestros Productos</h2>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Buscar producto...">
        </div>
        <div class="product-grid">
            {{#each dataInit.products}}
            <div class="product-item">
                <p>Nombre: {{this.nombre}}</p>
                <img src="{{this.imagen}}" alt="Imagen de {{this.nombre}}" class="product-image" data-id="{{this._id}}" />
                <p>Uva: {{this.uva}}</p>
                <p>Bodega: {{this.bodega}}</p>
                <p>Precio: ${{this.precio}}</p>
                {{#if this.stock}}
                <h6 style="color: green;">Stock Disponible</h6>
                <form action="/detailProduct/{{this._id}}">
                    <button type="submit">Comprar</button>
                </form>
                {{else}}
                <h6 style="color: crimson;">Sin Stock</h6>
                <button style="background-color: gray;" type="submit" disabled >-------</button>
                {{/if}}
            </div>
            {{/each}}
        </div>

        {{#if hasPrevPage}}
        <a href="/products?numpage={{prevPage}}">Anterior</a>
        {{/if}}
        <label>{{page}}</label>
        {{#if hasNextPage}}
        <a href="/products?numpage={{nextPage}}">Siguiente</a>
        {{/if}}
    </section>
</main>

<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span></span>
        <iframe id="modalIframe" src="" frameborder="0" style="width: 100%; height: 400px;"></iframe>
    </div>
</div>

