<div>
    <h1>{{title}}</h1>
    {{#each products}}
    <div>
        <p>id: {{this._id}}</p>
        <p>Nombre: {{this.nombre}}</p>
        <p>Uva: {{this.uva}}</p>
        <p>Bodega: {{this.bodega}}</p>
        <p>Precio: ${{this.precio}}</p>
        <br>
    </div>
    {{/each}}
</div>
<div>
    <h2>Ingresar producto</h2>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        <label for="codigo">Código:</label><br>
        <input type="text" id="codigo" name="codigo"><br>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" step="1" min="0"><br>

        <label for="imagen">Imagen:</label><br>
        <input type="file" id="imagen" name="imagen"><br>

        <label for="uva">Uva:</label><br>
        <input type="text" id="uva" name="uva"><br>
        <label for="bodega">Bodega:</label><br>
        <input type="text" id="bodega" name="bodega" min="0"><br>
            <label for="categoria">Categoría:</label><br>
        <input type="text" id="categoria" name="categoria" min="0"><br>
            <label for="stock">Stock:</label><br>
        <input type="number" id="stock" name="stock" min="0"><br>

        <input id="btn_addproduct" type="submit" class="btn btn-primary" value="Agregar">
    </form>
</div>
<div>
    <form>
        <h3>Eliminar Producto</h3>
        <div>
            <label>Producto Id:</label>
            <div>
                <input type="text" id="id">
            </div>
        </div>
        <button id="btn_deleteproduct">Eliminar Producto</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>