<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Un sitio en la web para los amantes del Vino, donde estar치s actualizado de lo
        ultimo en Vinos, adem치s de ofrecer otros servicios como el de personal online con el cual te podemos
        asesorar a la hora de la mejor elecci칩n de tu vino para ese evento o cita especial.">
    <meta name="keywords" content="wines, vinos, uvas, estilos, bodegas, cepas, malbec, cabernet, espumantes">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon">

    <title>More Wine</title>
</head>

{{#unless isModal}}
<header>
    <div class="header-top">
        <h1 class="logo">More Wine</h1>
        <div class="spaceuser">
            {{#if dataInit.first_name}}
            <img src={{dataInit.foto_perfil}} class="user-photo">
            <h6>{{dataInit.first_name}}</h6>
            <a href="/api/sessions/logout">Logout</a>
            {{else}}
            <img src="image/user/usuario.png" class="user-photo">
            <a href="/register">Registro</a>
            <a href="/login">Login</a>
            {{/if}}
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-transparent">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="historia">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bodegas">Bodegas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="estilos">Estilos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="premiados">Premiados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="proximascatas">Pr칩ximas Catas</a>
                </li>                
                {{#if dataInit.checkrole}}
                <li class="nav-item"></li>
                    <a class="nav-link" href="listProducts">Productos</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link" href="users">Usuarios</a>
                </li>
                {{/if}}

            </ul>
        </div>
        <div class="cart-container">
            <a href="/cart">
                <img src="/image/products/carrito.jpg" alt="Carrito de compras" class="cart-button">
                <span class="cart-count">{{dataInit.cartitem}}</span>
            </a>
            <span>-</span>
            <h4 class="cart-total">${{dataInit.total}}</h4>
        </div>
    </nav>
</header>
<hr>
{{/unless}}

<body>
    {{{body}}}
</body>

{{#unless isModal}}
<footer class="footer">
    <p>Copyright 2024 &copy; / <a href="sitemap.xml">Mapa del sitio</a></p>
    <div class="redes">
        <a href="https://es-la.facebook.com/"><img src="image/redes/facebook.webp" alt="logo_facebook"></a>
        <a href="https://www.instagram.com/"><img src="image/redes/instagram.webp" alt="logo_instagram"></a>
        <a href="https://twitter.com/?lang=es"><img src="image/redes/twitter.webp" alt="logo_twitter"></a>
    </div>
</footer>
{{/unless}}

<script src="/js/scriptProduct.js"></script>

</html>